<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8"/>

    <title>Backend Ninja - Signin</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>

    <!-- Custom styles for this template -->
    <link href="#" th:href="@{/css/login.css}" rel="stylesheet" />
    <link href="#" th:href="@{/css/style.css}" rel="stylesheet" />

  </head>

  <body>

    <div class="container">

      <form class="form-signin" action="#" th:action="@{/logincheck}" th:object="${userCredentials}" method="post">
        <h2 class="form-signin-heading">Sign in</h2>
        <label for="inputEmail" class="sr-only">Username</label>
        <input type="text" id="inputUsername" class="form-control" placeholder="name" th:field="*{nombre}"/>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" th:field="*{password}"/>
        <div th:if="${error!=null}" class="alert alert-danger" role="alert">UserName invalido</div>
        <div th:if="${logout!=null}" class="alert alert-info" role="alert">Sesion cerrada</div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">
        	<span class="glyphicon glyphicon-log-in" aria-hidden="true"></span> Sign in
        </button>
      </form>

    </div> <!-- /container -->

</body>
</html>